<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="position-input">
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input #email></ion-input>
  </ion-item>
  <ion-item class="position-input">
    <ion-label position="floating" >Passwort</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>
  <ion-button (click)="logIn(email, password)">Login</ion-button>
  <ion-button fill="clear" [routerLink]="['register']">Sign Up</ion-button>
</ion-content>
