<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="position-input">
    <ion-label position="floating">Benutzername</ion-label>
    <ion-input placeholder="John Doe"></ion-input>
  </ion-item>
  <ion-item class="position-input">
    <ion-label position="floating">Passwort</ion-label>
    <ion-input type="password" placeholder="*****"></ion-input>
  </ion-item>
  <ion-button (click)="$event">Login</ion-button>
  <ion-button fill="clear">Sign Up</ion-button>
</ion-content>
