<ion-header>
  <ion-toolbar>
    <ion-title>Collection: {{this.collectionName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="blueBox">
    <ion-card-header style="padding-bottom: 0">
      <ion-card-title style="color: white; font-size: 15px;font-weight: bold;">Question</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding-left: 9px">
      <ion-textarea [(ngModel)]="this.question.questionText" class="boxTextArea" placeholder="Write your question here!"></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let answer of answers" (press)="removeAnswer(answer)" button>
      <ion-icon name="checkmark-circle-outline" slot="start" color="primary" *ngIf="answer.isCorrect"></ion-icon>
      <ion-icon name="close-circle-outline" slot="start" color="primary" *ngIf="!answer.isCorrect"></ion-icon>
      {{answer.answerText}}
    </ion-item>
    <ion-item class="add" (click)="openAddPopup()" button>
      <ion-label> Add Answer </ion-label>
    </ion-item>
  </ion-list>

  <ion-row class="buttonRow">
    <ion-col>
      <ion-button class="bottomButton" (click)="onCancel()">Cancel</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="bottomButton" (click)="onSave()">Save</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
