<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Collection: {{ collection.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [pagination]="true" #swiper>
    <ng-template *ngFor="let question of this.questions; let indexOfQuestion = index"  swiperSlide>
      <div *ngIf="question.correctlyAnswered < 5">
        <ion-card class="blueBox">
          <ion-card-header style="padding-bottom: 5px">
            <ion-card-title style="color: white; font-size: 15px;font-weight: bold;">Question: </ion-card-title>
          </ion-card-header>
          <ion-card-content class="boxTextArea">
            {{question.questionText}}
          </ion-card-content>
        </ion-card>

        <ion-list>
          <ion-item *ngFor="let answer of answers; let indexOfAnswer = index"
                    (click)="checkAnswer(question.questionText.toString(), indexOfAnswer)"
                    [ngClass]="{'blue': correctCondition(answer, question), 'red': incorrectCondition(answer, question, indexOfAnswer),
                    'invisible' : answer.questionId != question.id}" button>
            <ion-checkbox [color]="incorrectCondition(answer, question, indexOfAnswer) ? 'danger' : 'primary'"
                          [id]="question.questionText + indexOfAnswer.toString()" slot="start" disabled="true"></ion-checkbox>
            <ion-label>{{ answer.answerText }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-row class="buttonRow">
          <ion-col>
            <ion-button expand="block" class="bottomButton" (click)="submitQuestion(question)">Check</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="question.correctlyAnswered >= 5">
        <ion-card class="emptyWarning">
          <ion-card-header style="padding-bottom: 0">
            <ion-card-title class="emptyWarningText">You have learned all there is to know!</ion-card-title>
          </ion-card-header>
          <ion-card-content class="emptyWarningText">
            <ion-icon size="large" name="alert-circle-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-template>
  </swiper>

</ion-content>

