<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Collection: {{ collection.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetCollection()" slot="end">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="centered">
    <ion-col>

      <ion-row>
        <ion-col>
          <div>
            <ion-card [ngClass]="{'grey' : questions.length < 1, 'blue' : questions.length >= 1}" class="box" (click)="openTest()">
              <div class="centered">
                <ion-icon style="font-size: 85px; margin-top: 10px" name="school-outline"></ion-icon>
              </div>
              <ion-card-header>
                <ion-card-title class="centered" style="color: white">Learn</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-card [ngClass]="{'grey' : questions.length < 1, 'blue' : questions.length >= 1}" class="box" (click)="openExam()">
              <div class="centered">
                <ion-icon style=" font-size: 85px; margin-top: 10px" name="reader-outline"></ion-icon>
              </div>
              <ion-card-header>
                <ion-card-title style="color: white" class="centered">Quiz</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-card class="box" [ngClass]="{'grey' : !isMyCollection(), 'blue' : isMyCollection()}" (click)="openEdit()" type="button">
              <div class="centered">
                <ion-icon style=" font-size: 85px; margin-top: 10px" name="create-outline"></ion-icon>
              </div>
              <ion-card-header>
                <ion-card-title style="color: white" class="centered">Edit</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
